@inherits LayoutComponentBase

<div class="page">
    <nav>
        <h1>MonBajour</h1>
        <a href="/swagger/index.html"><button>Endtecke unsere API</button></a>  
    </nav>
    <main>
        @Body
    </main>
</div>
