@inherits LayoutComponentBase

<div class="page">
    <nav>
        <h1>MonBajour</h1>
        <div>
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Authorized>
                    <div class="rightSideContainer">
                        <div style="display: flex; align-items: end;">
                            <h4 style="margin-bottom: 0;">Hello @(context.User.Identity.Name)! @(context.User.Claims.FirstOrDefault(c => c.Type == "address")?.Value != null ? $"Deine Addrese: {context.User.Claims.FirstOrDefault(c => c.Type == "address")?.Value}" : string.Empty)</h4>
                            <a style="margin-left: 10px;" href="/api/bffUser/Logout"><button>Logout</button></a>
                            <a style="margin-left: 10px;" href="/swagger/index.html"><button>Entdecke unsere API</button></a>  
                        </div>   
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="rightSideContainer"> 
                        <a href="/api/bffuser/login"><button>Login with Google</button></a>
                        <a href="/swagger/index.html"><button>Entdecke unsere API</button></a>  
                    </div>
                </NotAuthorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        </div>
    </nav>
    <main>
        @Body
    </main>
</div>
