body {
    margin: 0 !important;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, white 0%, #FEDDD2 50%);
    font-family: "Monument Grotesk", Arial, sans-serif;
    color: black;
    overflow: hidden;
}

#blazor-error-ui{
    display: none;
}

.page{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.page h1{
    margin: 0;
}

nav{
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding: 0 15px;
    justify-content: space-between;
}

main{
    padding: 5px 15px 15px 15px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.indexContainer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-column: 1;
}

.WelcomeContainer{
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    place-content: center;
}

.LocalizedContainer {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-template-rows: repeat(5, 1fr);
    display: grid;
    overflow-y: auto;
}

button{
    outline: none;
    border-radius: 3px;
    padding: 3px;
    background: none;
    cursor: pointer;
    font-size: 14px;
}
    button:hover {
        /*background: #FEDDD2;
        transition: 1.5s ease-in-out;*/
    }

.inputContainer{
    margin-top: 5px;
    width: 100%;
    display: grid;
    justify-content: center;
}
.inputContainer h1{
    font-size: 37px;
}
.inputContainer label{
    display: block;
    text-align: center;
    font-size: 16px;
}
.inputContainer input{
    font-size: 20px;
    outline: none;
    border-radius: 3px;
    padding: 2px;
    border: 1px solid black;
    text-align: center;
    text-transform: capitalize;
    margin-top: 3px;
}

.alwaysContainer{
    grid-row-start: 5;
    grid-row-end: 8;
    display: grid;
    grid-template-rows: 30px 1fr;
}
.SectionOverviewContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    width: 100%;
}
.alwaysContainer h2, h5 {
    text-align: center;
}

.alwaysContainer .main{
    height: 100%;
    width: 100%;
}

.LocalizedResult{
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    place-content: center;
}
.LocalizedResult h3{
    margin-bottom: 5px;
}
.LocalizedResult button{
    font-size: 11px;
    width: 190px;
}
.SearchResultContainer{
    grid-row-start: 2;
    grid-row-end: 5;
    overflow-y: auto;
    display: flex;
    box-sizing: border-box;

}
.LoginMotivationContainer{
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}
.loggedInContainer{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.main h5 {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid white;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}